// .modal.right  {
// 	-webkit-transform: translate3d(125%, 0, 0);
// 	transform: translate3d(125%, 0, 0);
// }

.sidenav {
    height: 100%;
    width: 30%;
    position:fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 1;
    background-color:whitesmoke;
    overflow-x: hidden;
    margin-top: 60px;
  }
  .modal-holder{
    animation-name: example;
    animation-duration: 0.5s;
  }
  
  @keyframes example {
    from {
      right: -100px;
      opacity: 1;
    }
    to {
        right: 0;
        opacity: 1;
    }
  }
  .modal-center{
    animation-name: center;
    animation-duration: 2.5s;
  }
  @keyframes center {
    0%   {transform: scale(0.5)}
    100% {transform: scale(1)}
  }
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }